# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment variables
# =========================
.env

# =========================
# Virtual environment
# =========================
venv/
env/
.venv/

# =========================
# Jupyter Notebook checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# Model files (VERY IMPORTANT)
# =========================
*.pkl
*.joblib

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# MongoDB / local dumps
# =========================
*.archive
*.bson